<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link href="/images/shop.jpeg" type="image/jpeg" rel="shortcut icon">
    <link href="/css/style.css" type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
  </head>
  <body id="shop">
    <main>
      <div class="header">
        <h1><%= pageTitle %></h1>
        <a href="/cart" class="cart">
          <i id="count"><%= count %></i>
        </a>
      </div>
      <div class="item title">
        <div class="item-name">Name</div>
        <div class="item-name">Image</div>
        <div class="item-price">Price</div>
        <div>Action</div>
      </div>
      <% products.forEach((product) => { %>
        <div class="item">
          <div class="item-name"><%= product.name %></div>
          <div class="item-name">
            <img src="/images/<%= product.name.toLowerCase() %>.jpeg" alt="<%= product.name %>">
          </div>
          <div class="item-price">$<%= product.price %></div>
          <div class="item-action">
            <a href="/product/<%= product.name %>" class="btn">View</a>
          </div>
        </div>
      <% }) %>
    </main>
  </body>
</html>